.navbar{
    background: rgba(49, 65, 79, 0.7);
}
.front-title{
    font-size: 5rem;
    color: white;
    text-align: center;
}
.journey-station-front{
    display: flex;
    justify-content: center;
    align-items: center;
}

.journey-front{
    margin-right: 10rem;
}
.journey-station-links{
    text-decoration: none;
}

.link-front{
    font-size: 1.8rem;
    padding: 2rem;
    background: rgba(49, 65, 79, 0.7);
    color: white;
    border-radius: 2rem;
    border: 1px #1C252C solid;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}